flowsModule.json
[
    {
        "id": "76614f5e49144b2a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "950bd82c282cd950",
        "type": "mqtt in",
        "z": "76614f5e49144b2a",
        "name": "Data-temp",
        "topic": "Laki/temp",
        "qos": "0",
        "datatype": "auto",
        "broker": "d0dadeb2cbc46e15",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "1172b67d28c0a26f"
            ]
        ]
    },
    {
        "id": "1172b67d28c0a26f",
        "type": "function",
        "z": "76614f5e49144b2a",
        "name": "function 1",
        "func": "const newMsg = {\n    payload: parseFloat(msg.payload.slice(0, 5))\n};\nreturn newMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 160,
        "wires": [
            [
                "1a71c3cff507dcf4",
                "dba7add6c2b9b43d"
            ]
        ]
    },
    {
        "id": "1a71c3cff507dcf4",
        "type": "debug",
        "z": "76614f5e49144b2a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "dba7add6c2b9b43d",
        "type": "influxdb out",
        "z": "76614f5e49144b2a",
        "influxdb": "1778cbef3fe5dd32",
        "name": "Data-temp",
        "measurement": "Laki/temp",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "University",
        "bucket": "Oulu",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "3229941e84ef357a",
        "type": "mqtt in",
        "z": "76614f5e49144b2a",
        "name": "Data-pressure",
        "topic": "Laki/pressure",
        "qos": "0",
        "datatype": "auto",
        "broker": "d0dadeb2cbc46e15",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "66881907851b2cfb"
            ]
        ]
    },
    {
        "id": "66881907851b2cfb",
        "type": "function",
        "z": "76614f5e49144b2a",
        "name": "function 2",
        "func": "const newMsg = {\n    payload: parseFloat(msg.payload.slice(0, 5))\n};\nreturn newMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 300,
        "wires": [
            [
                "6d9a198ec4a94fc8",
                "b1fc9ddf8f8043d0"
            ]
        ]
    },
    {
        "id": "b1fc9ddf8f8043d0",
        "type": "influxdb out",
        "z": "76614f5e49144b2a",
        "influxdb": "1778cbef3fe5dd32",
        "name": "Data-pressure",
        "measurement": "Laki/pressure",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "University",
        "bucket": "Oulu",
        "x": 460,
        "y": 360,
        "wires": []
    },
    {
        "id": "6d9a198ec4a94fc8",
        "type": "debug",
        "z": "76614f5e49144b2a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "c7aaaf315f9ca5e7",
        "type": "inject",
        "z": "76614f5e49144b2a",
        "name": "fetch",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "c7946179ba6481f3"
            ]
        ]
    },
    {
        "id": "c7946179ba6481f3",
        "type": "influxdb in",
        "z": "76614f5e49144b2a",
        "influxdb": "71f61169f4e333dd",
        "name": "Data in",
        "query": "from(bucket: \"Oulu\")\n  |> range(start: -1h) // Get data from the last 1 hour\n  |> filter(fn: (r) => r[\"_measurement\"] == \"Laki/temp\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> last()\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "University",
        "x": 220,
        "y": 440,
        "wires": [
            [
                "a9a309a1bc313aed",
                "0090379e62305eb9"
            ]
        ]
    },
    {
        "id": "a9a309a1bc313aed",
        "type": "function",
        "z": "76614f5e49144b2a",
        "name": "function 3",
        "func": "// Extract the first object from the payload\nlet temperatureData = msg.payload[0];\n// Ensure the temperature value is available and is a number\nif (temperatureData && typeof temperatureData._value === 'number') {\n    let temperature = temperatureData._value;\n    // If the temperature is above 23°C, send \"ON\", else send \"OFF\"\n    msg.payload = (temperature > 27) ? \"ON\" : \"OFF\";\n} else {\n    msg.payload = \"Error: No valid temperature data found\"; // Handle missing or\n}\n// Return the modified message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            [
                "37d4fe7fb56b0ffd",
                "48707a586b86a462"
            ]
        ]
    },
    {
        "id": "0090379e62305eb9",
        "type": "debug",
        "z": "76614f5e49144b2a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 500,
        "wires": []
    },
    {
        "id": "37d4fe7fb56b0ffd",
        "type": "debug",
        "z": "76614f5e49144b2a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "48707a586b86a462",
        "type": "mqtt out",
        "z": "76614f5e49144b2a",
        "name": "Control",
        "topic": "Laki/control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0dadeb2cbc46e15",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "d0dadeb2cbc46e15",
        "type": "mqtt-broker",
        "name": "Laki-server",
        "broker": "d3ce46cf136b4fd18e1293a2f21192f3.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1778cbef3fe5dd32",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "cloud_host",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com/",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "71f61169f4e333dd",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Oulu",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com/",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "06353ba2b7837d53",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]
